extends ../templates/layout.pug

block title
	title News | Project ENABLE | The Diné-English Biology Dictionary

block content
	main.news
		h2 Project ENABLE in the News

		h3 Sept 17, 2023 &ndash; Navajo Times
		p
			a(href="https://navajotimes.com/ae/culture/uw-alumnus-and-dine-scientist-co-finds-project-enable-a-new-navajo-english-dictionary-for-scientific-terms/") UW alumnus and Diné scientist co-finds Project Enable, a new Navajo-English dictionary for scientific terms

		h3 August 24, 2023 &ndash; The Allusionist
		p
			a(href="https://www.theallusionist.org/allusionist/projectenable") Episode 180: Project ENABLE
			
		h3 Jan 9, 2023 &ndash; Fronteras Desk
		p
			a(href="https://fronterasdesk.org/content/1835615/navajo-language-doesnt-have-words-many-science-terms-dine-scientist-changing") The Navajo language doesn't have words for many science terms. A Diné scientist is changing that

		h3 Dec 4, 2022 &ndash; The Journal
		p
			a(href="https://www.the-journal.com/articles/navajo-dictionary-provides-scientific-terms-for-native-speakers/") Navajo dictionary provides scientific terms for Native speakers
		
		h3 July 28, 2022 &ndash; Milwaukee Journal Sentinel
		p
			a(href="https://www.jsonline.com/story/news/2022/07/28/uw-madison-project-translates-science-terms-into-navajo-language-dine-bizaad-university-of-wisconsin/10040047002/") A Navajo scientist couldn't translate his work to his family. Now, because of a UW-Madison project he co-founded, he can.

		h3 Oct 18, 2021 &ndash; Davidson
		p
			a(href="https://www.davidson.edu/news/2021/10/18/bio-profs-labor-love-bridges-gap-between-science-and-navajo-language") Bio Prof’s ‘Labor of Love’ Bridges Gap Between Science and Navajo Language

		h3 Oct 11, 2021 &ndash; Spectrum News
		p
			a(href="https://spectrumnews1.com/wi/milwaukee/news/2021/10/11/breaking-language-barriers--project-enable-creates-new-navajo-words-for-scientific-terms") Breaking language barriers: Project ENABLE creates new Navajo words for scientific terms

		h3 Aug 4, 2021 &ndash; The Badger Herald
		p
			a(href="https://badgerherald.com/news/2021/08/04/uw-affiliates-create-navajo-words-hope-to-spark-science-communication/") UW affiliates create Navajo words, hope to spark science communication