extends ../templates/layout.pug

block title
        title Contact | Project ENABLE | The Diné-English Biology Dictionary

block content
    main.contact
        h2 Contact Us
        p If you have any questions, comments, or suggestions, please reach out to us!

        div.contact-tiles
            a.contact-tile(href="mailto:EnableBiology@gmail.com")
                img.icon(src="/img/envelope.svg" alt="Email")
                span EnableBiology@gmail.com
            a.contact-tile(href="https://twitter.com/ENABLE_Biology")
                img.icon(src="/img/twitter.svg" alt="Twitter")
                span @ENABLE_Biology
            a.contact-tile(href="https://navajobiology.square.site/")
                img.icon(src="/img/dollar-sign.svg" alt="")
                span Donate
