doctype html
html(lang="en")
    head
        title Contact | The Navajo-English Scientific Dictionary
        include ../templates/head
        script(src="../js/session.js")
    body
        include ../templates/header
        header
            h2 Contact Us
            p If you have any questions, comments, or suggestions, please reach out to us!
            Our email is
                a(class="email" href="mailto:EnableBiology@gmail.com") EnableBiology@gmail.com
        include ../templates/footer.pug
