extends ../templates/layout.pug
include ../mixins/tile
include ../mixins/alphabet
block title
	title Project ENABLE | The Diné-English Biology Dictionary
	- const language = "dine"
	include ../templates/scripts
		
block content
	header.subheader
		h2 Diné to English Dictionary
		a.icon.switch-direction(href="/english")
			img(src="/img/exchange-alt.svg" alt="Switch to English-Diné")
	+alphabet(sortedWords)
	div.dictionary
		each entry, index in sortedWords
			+tile(index, entry)
				