doctype html
html(lang="en")
    head
        title About | Project ENABLE | The Diné-English Biology Dictionary
        include ../templates/head
        script(src="../js/session.js")
    body
        include ../templates/header
        div.about
            h2 About The Project
            p Project ENABLE will facilitate the preservation and continued use of Diné Bizaad while also providing an opportunity to integrate traditional knowledge with current scientific thought and practices. We worked with high school biology teachers on Dinétah and a Diné language expert to identify and translate 245 terms that reflect foundational biology concepts into Diné bízaad.

            h2 About the Team

            h3 Sterling Martin (Diné scientist)
            p.dine Shí éí Sterling Martin yinishyé. Kinłichii’nii nishłį́. Tódichi’ii’nii bashishchiin. Bit’ahnii shicheii. Táchii’nii shinalí. Ákót’éego Diné nishlł̨. Madison, Wisconsindi kééhasht’į́. T’iis Názbąs déé’ naashá. University of Wisconsin-Madison Biophysics graduate student ííníshta'.
            p Growing up on Dinétah (The Navajo Nation) I was always interested in science but was unable to talk with my grandparents about it, and this inability to communicate my science continued in my undergrad and graduate years. I believe in Project ENABLE so we as Diné can have the words to be able to participate in the global scientific community and bring Dinétah into the 21st century.

            h3 Delphine McThomas (Diné speaker)
            p.dine Shí éí Delphine McThomas yinishyé. Kinłichii’nii nishłį́. Bit’ahnii bashishchiin. Táchii’nii shicheii, Tódichi’ii’nii shinalí.
            p I am from the Four Corners area from the community of T’iis Názbąs (TeecNosPos), AZ. I was raised in a bi-cultural home (Diné/English). My parents spoke limited English, Diné bizaad (Navajo language) being our first language. Traditional culture and Diné bizaad was stressed to my siblings and I, as it was the foundation of who we are as Dine people. We had to find balance living in the Western world so education was strongly encouraged. However, we always remembered where we come from, being Diné first.
            p I believe in teaching our Diné children our culture and Diné bizaad, so they know where they come from and have stability to be strong in two cultures and carry on our Dine bízaad. Project ENABLE is a step in that direction.

            h3 Doris McThomas (Diné Elder)
            p.dine Shí éí Doris J. McThomas yinishyé. Kinłichii’nii nishłį́. Táchii’nii bashishchiin. ’Áshįįhi shiceii, Tábąąhá shinalí.
            p I was born in a traditional Hogan near Corrizo Mountain in the small community of Beclabito, NM. Diné bizaad was my first language; my parents spoke very limited English. Our livelihood was raising cows and sheep; my mother was a weaver. Working for the Federal Government at the T’iis Názbąs Boarding School, I saw firsthand how important it was for our children to keep our Diné bizaad and culture. As being 5 fingered beings we were put on Mother Earth with our Diné bizaad and culture so it identifies us as being Diné and where we come from. There is beauty in Diné bizaad.
            p I see Project ENABLE as a way of preserving Diné bizaad, and making it accessible for everyone, anywhere whether it is in the school system, out in the community or beyond the Four Sacred Mountains. It will help in homes where limited Diné bizaad is spoken or there are non-Diné bizaad speaking parents/grandparents.

            h3 Frank Morgan (Diné Linguist)
            p Frank Morgan is Salt Clan, born for Yucca Fruit People. His mother's father is Ledge of Mountain (#[span.dine bit'ahnii]), and his father's father is Many Goats. He was born at home and grew up in the Four Corners area on a sheep ranch and farm. He did not know a word of English until his 7th birthday government boarding school. He graduated from high school where he excelled in sports. He did a tour in the US Army and finished a college education. He was a natural in social sciences and language. He worked with researchers and learned the discipline of interpretation and translation.
            p In working with languages in bilingual and cross-cultural settings there are principles and forms that are imperative. First competencies include fluency in source and target languages. Great care must be given to expressions in different contexts. Words have a field of semantics and shades of meanings so it is very important to know what meaning one wants to work with in a translation. Translations are directed at diverse audiences. In my mind the Navajo people believe that the sound of a word has the power of creating a real and actual situation. Words are sacred and they are to be used carefully and purposefully.

            h3 Susana Wadgymar
            p.dine Shí éí Susana Wadgymar yinishyé. Bilagáana dine’é nishłį́. Naakaii dine’é bashishchiin.
            p I am an assistant professor of Biology at Davidson College. I am thrilled to collaborate on Project ENABLE because I think science is for everyone.  I value integrating cultural and scientific knowledge and making information and educational opportunities accessible for all.

            h3 Joanna Bundus
            p.dine Shí éí Joanna Bundus yinishyé. Sǫ́ dine’é nishłį́. Bilagáana dine’é bashishchiin.
            p I am a postdoctoral fellow at the University of Wisconsin-Madison where I study evolution, genetics and development. I believe that science benefits from diversity, and I hope that Project ENABLE will both benefit Diné bizaad and English speakers learning biology.

            h3 Ira Fich
            p.dine Shí éí Ira Fich yinishyé. Sǫ́ dine’é nishłį́. Déinish Dine'é bashishchiin.
            p I am a full-stack web developer operating out of Toronto, Ontario, Canada. My professional interests include web accessibility and open-source toolkits. I joined Project ENABLE because it was an interesting challenge that was also a way for me to give back to at least one Native American community.
            p This website was written in the traditional territory of the Wendat, the Anishnaabeg, Haudenosaunee, Métis, and the Mississaugas of the Credit First Nation, on lands protected under the Dish With One Spoon treaty.

            hr

            h2 Additional Credits

            h3 Copy Editing
            ul
                li Ryan Corcoran
                li Sean Klein
                li Joel Serre

            h3 Funding
            ul
                li The Ira and Ineva Reilly Baldwin Wisconsin Idea Endowment
                li Nicky Bowman, PhD-Bowman Performance Consulting
                li Native American Languages Preservation Grant

            h3 Special thanks
            ul
                li Monica Macaulay, PhD
                li Bianca Nolde-Lopez

            h3 About the logo
            p Logo design - Duhon (Diné artist) - instagram&nbsp;
                a(href="https://www.instagram.com/yiiyah_man") @yiiyah_man
                br
                | Logo digitization - Gil Martinez (
                a(href="https://bigguystudio.ca") https://bigguystudio.ca
                |)

        include ../templates/footer.pug