extends ../templates/layout.pug

block title
	title Fonts | Project ENABLE | The Diné-English Biology Dictionary
	
block content
	main.tools
		h2 Fonts
		
		p
			a(href="https://www.dinecollege.edu/current_students/current-students/") Download
		
		h3 Convert
		textarea.font 123456
		textarea.unicode áąą́éęę́