mixin alphabet(sortedWords)
	nav(aria-label="Alphabet quick-jump").alphabet
			- letters = new Set(sortedWords.map(([word])=>word[0].toUpperCase()))
			- let code = "A".charCodeAt(0)
			ul
				while code <= "M".charCodeAt(0)
					+alphabet-li(code++)
			ul
				while code <= "Z".charCodeAt(0)
					+alphabet-li(code++)

mixin alphabet-li(code)
	- letter = String.fromCharCode(code)
	li
		if letters.has(letter)
			a(href=`?search=${letter}` nofollow)=letter
		else
			a=letter