@import "base.breakpoints"; // so that we can get everything by importing base just once

// SIZES //

$body-width: 800px;
$body-padding: 1.333rem;
$text-page-padding: 3vw;

$spacing-v: 7px;
$spacing-h: 10px;
$dd-padding: 0.75em;
$dd-indent: 20px;

$font-family-serif: Cardo, "Times New Roman", serif; // we used to use Garamond, but at time of writing it was missing a symbol. Cormorant Garamond has all the symbols but looks less nice.
$font-family-sans: "Noto Sans", Arial, sans-serif;
$font-size: 20px;
$opener-size: 24px;
$line-height: 1.2;
$line-height-p: 1.5;

$inline-element-height: $font-size * $line-height;
$label-height: $inline-element-height + 2 * $spacing-v;
$opener-offset: ($label-height - $opener-size) / 2;

$logo-size: calc(50% - #{$body-width} / 2);

$border-radius-sm: 3px;
$border-radius-md: 5px;

$search-font-size: 16px;
$search-padding-v: 5px;
$search-padding-h: 10px;
$search-border-radius: $border-radius-md;
$search-height: $search-font-size + 2 * $search-padding-v + 4; // +4 is border and outline

$bar-padding-v: $font-size / 2; // specified in px so we can do pixel math with it
$bar-icon-padding-h: $font-size * 3 / 4;
$bar-text-padding-h: $font-size;
$bar-height: $search-height + 2 * $bar-padding-v;

$popup-width: 220px;
$popup-margin: 20px;
$popup-padding: 20px;
$popup-tail-offset: 35px;
$popup-tail-height: $popup-margin - 5px;
$popup-tail-width: $popup-tail-height * 2;

// COLORS //

$white-000: white;
$white-100: #efece4;
$white-200: #e3ddcd;
$white-300: #d8d3c2;

$html-bg: #7c071a;
$body-bg: $white-200;
$bar-bg: $white-100;
$bar-bg-hover: $white-200;
$bar-bg-active: $white-300;

$text-color: #333;
$border-color: #333;
$inner-border-color: #bbb;
$disabled-color: #888;

$link-color-hover: #6B6657;
$link-color-active: #898477;

$input-bg: $white-000;

$button-bg: $white-000;
$button-bg-hover: $white-100;
$button-bg-active: $white-300;

$footer-color: #666;
$footer-link-color-hover: $link-color-hover;
$footer-link-color-active: $link-color-active;

$popup-bg: #333;
$popup-hover-bg: #444;

// MIXINS //

@mixin body-box {
  box-sizing: border-box;
  max-width: $body-width; // TODO make width more responsive maybe
  margin: 0 auto;
  padding: $body-padding;
}

@mixin hover-highlight($hover: $button-bg-hover, $active: $button-bg-active) {
  &:hover {
    background-color: $hover;
    color: inherit;
  }
  &:active {
    background-color: $active;
    color: inherit;
  }
}