@import "base.breakpoints"; // so that we cna get everything by importing base just once

$body-width: 800px;
$body-padding: 1.333rem;
$text-page-padding: 3vw;

$spacing-v: 7px;
$spacing-h: 10px;
$dd-padding: 0.75em;
$dd-indent: 20px;

$font-family-serif: Cardo, "Times New Roman", serif; // we used to use Garamond, but at time of writing it was missing a symbol
$font-family-sans: Verdana, sans-serif;
$font-size: 20px;
$opener-size: 24px;
$line-height: 1.2;
$line-height-p: 1.5;

$inline-element-height: $font-size * $line-height;
$label-height: $inline-element-height + 2 * $spacing-v;
$opener-offset: ($label-height - $opener-size) / 2;

$logo-size: calc(50% - #{$body-width} / 2);

$border-radius-sm: 3px;
$border-radius-md: 5px;

$search-font-size: 16px;
$search-padding-v: 5px;
$search-padding-h: 10px;
$search-border-radius: $border-radius-md;
$search-height: $search-font-size + 2 * $search-padding-v + 4; // +4 is border and outline

$bar-padding-v: $font-size / 2;
$bar-padding-h: 15px;
$bar-height: $search-height + 2 * $bar-padding-v;

$popup-width: 220px;
$popup-margin: 20px;
$popup-padding: 20px;
$popup-tail-offset: 35px;
$popup-tail-height: $popup-margin - 5px;
$popup-tail-width: $popup-tail-height * 2;

$bg-color: #7c071a;
$body-color: #efece4;
$hover-color: #e3ddcd;
$active-color: #d8d3c2;

$text-color: #333;
$border-color: #333;
$inner-border-color: #bbb;
$disabled-color: #888;

$link-hover-color: #6B6657;
$link-active-color: #898477;

$input-color: white;

$button-color: $input-color;
$button-hover-color: $hover-color;
$button-active-color: $active-color;

$footer-color: #666;
$footer-link-hover-color: $link-hover-color;
$footer-link-active-color: $link-active-color;

$popup-color: #333;
$popup-hover-color: #444;


// various mixins

@mixin body-box {
  box-sizing: border-box;
  max-width: $body-width; // TODO make width more responsive maybe
  margin: 0 auto;
  padding: $body-padding;
}

@mixin hover-highlight {
  &:hover {
    background-color: $button-hover-color;
    color: inherit;
  }
  &:active {
    background-color: $button-active-color;
    color: inherit;
  }
}

// abstract classes

%text-page {
  padding: 0 $text-page-padding;
  font-family: $font-family-sans;
  font-size: 0.75rem;

  h2, h3 {
    font-family: $font-family-serif;
    margin-top: 1.5em;
  }

  hr {
    margin: 2rem 0;
  }

  p {
    margin: 1em 0;
    line-height: 1.5;
  }

  [lang=i-navajo] {
    font-style: italic;
  }

  + footer {
    margin-top: 2.5rem;
    margin-left: $text-page-padding;
    margin-right: $text-page-padding;
    // but don't overwrite bottom padding
  }
}