$mobile-width: 500px;
$body-width: 800px;
$body-padding: 1.333rem;
$text-page-padding: 3vw;
$breakpoint: 1200px;

$spacing-v: 7px;
$spacing-h: 10px;
$dd-padding: 0.75em;
$dd-indent: 20px;

$font-family-serif: Cardo, "Times New Roman", serif; // we used to use Garamond, but at time of writing it was missing a symbol
$font-family-sans: Verdana, sans-serif;
$font-size: 20px;
$opener-size: 24px;
$line-height: 1.2;
$line-height-p: 1.5;

$inline-element-height: $font-size * $line-height;
$label-height: $inline-element-height + 2 * $spacing-v;
$opener-offset: ($label-height - $opener-size) / 2;

$logo-size: calc(50% - #{$body-width} / 2);

$search-font-size: 16px;
$search-padding-v: 5px;
$search-padding-h: 10px;
$search-border-radius: 5px;
$search-height: $search-font-size + 2 * $search-padding-v + 4; // +4 is border and outline
$bar-padding-v: $font-size / 2;
$bar-padding-h: 15px;

$bar-height: $search-height + 2 * $bar-padding-v;

$popup-margin: 20px;
$popup-padding: 20px;
$popup-tail-offset: 35px;
$popup-tail-height: $popup-margin - 5px;

$inner-border-color: #ccc;
$disabled-color: #888;

$border-color: #333;
$text-color: #333;
$link-hover-color: #999;
$link-active-color: #b0b0b0;
$button-hover-color: #eee;
$button-active-color: #ddd;

$footer-color: #888;
$footer-link-hover-color: $link-active-color;
$footer-link-active-color: lighten($link-active-color, 5%);

$popup-color: #333;
$popup-hover-color: #444;

$bg-color: #7c071a;


@mixin body-box {
  box-sizing: border-box;
  max-width: $body-width; // TODO make width more responsive maybe
  margin: 0 auto;
  padding: $body-padding;
}

@mixin hover-highlight {
  &:hover {
    background-color: $button-hover-color;
    color: inherit;
  }
  &:active {
    background-color: $button-active-color;
    color: inherit;
  }
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content
  }
}
@mixin tablet-down {
  @media (max-width: $breakpoint) {
    @content
  }
}
@mixin tablet-up {
  @media (min-width: $mobile-width + 1) {
    @content
  }
}
@mixin desktop {
  @media (min-width: $breakpoint + 1) {
    @content
  }
}


@font-face {
  font-family: Cardo;
  src: url(/fonts/Cardo-Regular.ttf);
}
@font-face {
  font-family: Cardo;
  font-weight: bold;
  src: url(/fonts/Cardo-Bold.ttf);
}
@font-face {
  font-family: Cardo;
  font-style: italic;
  src: url(/fonts/Cardo-Italic.ttf);
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  font-style: italic;
  src: url(/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/Lato-BoldItalic.ttf);
}