@import "base";


// dictionary list

%dl-box {
  box-sizing: border-box;
  margin: 0;
}

.dictionary {
  margin-top: 1em;
  margin-bottom: $bar-height;

  > details {
    position: relative; // so that the label:after can be positioned safely
    border: 1px solid black;

    &[open] .icon.closed {
      display: none;
    }
    &:not([open]) .icon.open {
      display: none;
    }

    & ~ details {
      margin-top: -1px;
      // to prevent double-thick lines between items. We could have done border-top:0 instead, but that led to some weird interactions with focusing.
    }

    &:focus, &:focus-within {
      outline: 1px auto black;
    }
  }

  summary {
    @extend %dl-box;
    display: block;
    position: static; // to prevent inner bits from rendering in front of its outline
    width: 100%;
    padding: $spacing-v $label-height $spacing-v $spacing-h;
    font-weight: bold;
    cursor: pointer;
    
    //hide the summary arrow
    list-style: none;
    &::-webkit-details-marker, &::marker {
      display: none;
    }
    
    &:hover {
      background-color: $button-hover-color;
    }
    &:focus {
       outline: none; // we outline the whole div instead
     }
  }

  dt, .dd-container {
    @extend %dl-box;
    overflow: hidden;
    flex-basis: 50%;
  }

  .dd-container {

    @media (max-width: $mobile-width - 1) {
      margin-top: $dd-indent;
    }
    @media (min-width: $mobile-width) {
      margin-left: $dd-indent;
    }

    dd {
      flex-basis: 100%;

      + dd {
        margin-top: 1em;
      }
    }
  }

  input.shower {
    display: none;

    ~ .icon {
      .closed {
        display: block;
      }
      .open {
        display: none;
      }
    }
    &:checked ~ .icon {
      .closed {
        display: none;
      }
      .open {
        display: block;
      }
    }

    &:checked ~ dd, &:checked ~ .dd-container {
      height: auto;
      padding: $dd-padding $dd-indent;
      border-top: 1px solid $inner-border-color; // XXX optional theming
    }
  }
}

dl {
  display: flex;
  flex-flow: column nowrap;
  //position: relative; // so that the label:after can be positioned safely
  margin: 0;
  padding: $dd-padding $dd-padding $dd-padding $dd-indent;
  border-top: 1px solid $inner-border-color; // XXX optional theming

  @media (min-width: $mobile-width) {
    flex-flow: row nowrap;
  }
  
  > .dd-container {
    display: flex;
    flex-flow: column nowrap;
  }

  header {
    margin-top: 0;
  }


}

// "About" popup

#about-popup {
  display: none;
  position: absolute;
  box-sizing: border-box;
  bottom: $bar-height + $popup-margin;
  left: 0;
  width: 220px;
  margin: 0;
  padding: $popup-padding;
  text-decoration: none;

  // XXX optional theming
  border-radius: 3px;
  color: white;
  background-color: $popup-color;
  text-align: center;
  
  @media (max-width: $breakpoint) {
    left: $bar-height / 2 - 50px; // realigned to keep consistent margin.
  }                                  // not sure where the 50 is coming from though
  
  &::after { // the tail
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -$popup-tail-height;
    left: $popup-tail-offset;
    border-left: $popup-margin solid transparent;
    border-right: $popup-margin solid transparent;
    border-top: $popup-tail-height solid $popup-color;

    @media (max-width: $breakpoint) {
      left: $popup-tail-offset - 5px; // move to positioned above icon. 
    }
  }

  &:hover {
    background-color: $popup-hover-color;

    &::after {
      border-top-color: $popup-hover-color;
    }
  }

  &.visible {
    display: block;
  }
}

// search form

form.search {
  display: flex;
  position: fixed;
  align-items: center;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  border-top: 1px solid grey;

  @media (max-width: $breakpoint) {
    padding: 0 $body-padding / 2;
  }

  fieldset {
    @include body-box;
    flex: 0 1 $body-width;
    display: flex;
    padding-top: $search-bar-padding-v;
    padding-bottom: $search-bar-padding-v;
    border: 0;

    @media (max-width: $breakpoint) {
      margin: 0;
      padding: $search-bar-padding-v $body-padding / 2;
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  label[for="search"] {
    display: none;
  }

  input[type="search"] {
    width: 100%;
    padding: $search-padding-v $search-padding-h;
    font-size: $search-font-size;

    // XXX optional theming
    border: 1px solid grey;
    border-right: none;
    border-radius: $search-border-radius 0 0 $search-border-radius;
    outline: none;

    &:focus {
      border-color: black;
    }
  }

  button[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;

    .icon {
      height: 0.8rem;
      margin-right: 0;
      padding: 6px;
    }
  }
}

// button to switch direction from dine-english to english-dine and back

.switch-direction {
  height: 20px;
  padding: 7px;
  border: 1px solid $text-color;
  border-radius: 5px;

  &:hover {
    border-color: $link-hover-color;
  }
  &:active {
    background: $link-active-color;
  }
}

// pronunciation button

.pronunciation {
  display: flex;
  align-items: normal; // alignments are oddly complex here, but this looks good
  align-self: center;  // on Chrome at least. TODO check other browsers
  box-sizing: border-box;
  cursor: pointer;
  height: 1.2rem;

  // XXX optional theming
  padding: 1px 6px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.75rem;
  font-family: $font-family-sans;

  span {
    margin-right: 5px;
  }
  img {
    width: 16px;
  }
  + input {
    display: none;

    + audio {
      display: none;
      margin-top: 4px;
    }
    &:checked + audio {
      display: block;
    }
  }

  &:hover {
    color: $link-hover-color;
    img {
      opacity: 50%;
    }
  }
}

%text-page {
  padding: 0 3vw;
  font-family: $font-family-sans;
  font-size: 0.75rem;

  h2, h3 {
    font-family: $font-family-serif;
    margin-top: 1.5em;
  }

  .dine {
    font-style: italic;
  }

  hr {
    margin: 2rem 0;
  }

  p {
    margin: 1em 0;
    line-height: 1.5;
  }
}

// about page

.about {
  @extend %text-page;
}

// contact page

.contact {
  @extend %text-page;

  p {
    margin: 1.1em 0 1.5em;
  }
}

// news page 

.news {
  @extend %text-page;
}

// alphabet letter selector 

.alphabet {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    margin: 1px;
    padding: 0;
  }
  a {
    display: block;
    padding: 5px;
    text-decoration: none;

    &[href] {
      border: 1px solid black;

      &:hover {
        background-color: $button-hover-color;
      }
    }
    &:not([href]) {
      color: $disabled-color;
    }
  }
}