@import "base";

// icons

@mixin focused {
  &:hover, &:active, a:hover &, a:active & {
    @content;
  }
}

img.icon, .icon img {
  height: 1em;
  cursor: pointer;

  + span {
    margin-left: 0.5ch;
  }
  @include focused {
    opacity: 0.5;
  };
}
.icon {
  @include focused {
    img {
      opacity: 0.5;
    }
  }
}
summary .icon {
  position: absolute;
  top: $opener-offset;
  right: $opener-offset;
  width: $opener-size;
  font-size: $opener-size;
  line-height: 1;
  text-align: center;
}

// dictionary list

%dl-box {
  box-sizing: border-box;
  margin: 0;
}

.dictionary {
  margin-top: 1em;
  margin-bottom: 0;

  > details {
    position: relative; // so that the label:after can be positioned safely
    border: 1px solid black;

    &[open] .icon .closed {
      display: none;
    }
    &:not([open]) .icon .open {
      display: none;
    }

    & ~ details {
      margin-top: -1px;
      // to prevent double-thick lines between items. We could have done border-top:0 instead, but that led to some weird interactions with focusing.
    }

    &:focus, &:focus-within {
      outline: 1px auto black;
    }
  }

  summary {
    @extend %dl-box;
    position: static; // to prevent inner bits from rendering in front of its outline
    width: 100%;
    font-weight: bold;

    //hide the summary arrow
    list-style: none;
    &::-webkit-details-marker, &::marker {
      display: none;
    }

    &:focus {
      outline: none; // we outline the whole div instead
    }

    .text {
      display: block;
      position: static; //otherwise it renders in front of the div's outline
      padding: $spacing-v $label-height $spacing-v $spacing-h;
      cursor: pointer;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  dt, dd, .dd-container {
    @extend %dl-box;
    overflow: hidden;
    flex-basis: 50%;
    /*height: 0;
    padding: 0;
    border-top: 0;*/
  }

  .dd-container {
    margin-left: $dd-indent;

    dd {
      flex-basis: 100%;

      + dd {
        margin-top: 1em;
      }
    }
  }

  input.shower {
    display: none;

    ~ .icon {
      .closed {
        display: block;
      }
      .open {
        display: none;
      }
    }
    &:checked ~ .icon {
      .closed {
        display: none;
      }
      .open {
        display: block;
      }
    }

    &:checked ~ dd, &:checked ~ .dd-container {
      height: auto;
      padding: $dd-padding $dd-indent;
      border-top: 1px solid $inner-border-color; // XXX optional theming
    }
  }
}

dl {
  display: flex;
  flex-flow: row nowrap;
  //position: relative; // so that the label:after can be positioned safely
  margin: 0;
  padding: $dd-padding $dd-padding $dd-padding $dd-indent;
  border-top: 1px solid $inner-border-color; // XXX optional theming

  > .dd-container {
    display: flex;
    flex-flow: column nowrap;
  }

  header {
    margin-top: 0;
  }


}

// "About" popup

#about-popup {
  display: none;
  position: absolute;
  box-sizing: border-box;
  bottom: $search-height + $popup-margin;
  width: 220px;
  margin: $popup-margin;
  padding: 0 $body-padding / 2; // don't change padding at breakpoints like other footer items

  @media (max-width: $breakpoint) {
    margin: $popup-margin / 2 #{-$popup-arrow-offset / 2};
  }

  // XXX optional theming
  border-radius: 3px;
  background-color: $popup-color;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -($popup-margin - 5px);
    left: 50px;
    border-left: $popup-margin solid transparent;
    border-right: $popup-margin solid transparent;
    border-top: ($popup-margin - 5px) solid $popup-color;

    @media (max-width: $breakpoint) {
      left: $popup-arrow-offset;
    }
  }

  &:hover {
    background-color: $popup-hover-color;

    &::after {
      border-top-color: $popup-hover-color;
    }
  }

  a {
    display: block;
    padding: $popup-padding;
    color: white;
    text-decoration: none;
  }

  &.visible {
    display: block;
  }
}

// search form

form.search {
  @include body-box;
  display: flex;
  padding-top: $search-bar-padding-v;
  padding-bottom: $search-bar-padding-v;

  @media (max-width: $breakpoint) {
    margin: 0;
    padding: $search-bar-padding-v $body-padding / 2;
    flex-grow: 1;
    max-width: 100%;
  }

  label[for="search"] {
    display: none;
  }

  input[type="search"] {
    width: 100%;
    padding: $search-padding-v $search-padding-h;
    font-size: $search-font-size;

    // XXX optional theming
    border: 1px solid grey;
    border-right: none;
    border-radius: $search-border-radius 0 0 $search-border-radius;
    outline: none;

    &:focus {
      border-color: black;
    }
  }

  button[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;

    .icon {
      height: 0.8rem;
      margin-right: 0;
      padding: 6px;
    }
  }
}

// pronunciation button

.pronunciation {
  display: flex;
  align-items: normal; // alignments are oddly complex here, but this looks good
  align-self: center;  // on Chrome at least. TODO check other browsers
  box-sizing: border-box;
  //margin-top: -10px; // to ensure this doesn't stretch the header
  cursor: pointer;
  height: 1.2rem;

  // XXX optional theming
  padding: 1px 6px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.75rem;
  font-family: $font-family-sans;

  span {
    margin-right: 5px;
  }
  img {
    width: 16px;
  }
  + input {
    display: none;

    + audio {
      display: none;
      margin-top: 4px;
    }
    &:checked + audio {
      display: block;
    }
  }

  &:hover {
    color: $link-hover-color;
    img {
      opacity: 50%;
    }
  }
}

.about {
  font-family: $font-family-sans;
  font-size: 0.75rem;

  h2, h3 {
    font-family: $font-family-serif;
    margin-top: 1.5em;
  }

  .dine {
    font-style: italic;
  }

  hr {
    margin: 2rem 0;
  }
}

.alphabet {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    margin: 1px;
    padding: 0;
  }
  a {
    display: block;
    padding: 5px;
    text-decoration: none;

    &[href] {
      border: 1px solid black;

      &:hover {
        background-color: $button-hover-color;
      }
    }
    &:not([href]) {
      color: $disabled-color;
    }
  }
}