@mixin font-srcs($filename) {
  src: url("/assets/fonts/" + $filename + ".ttf") format('truetype');
  src: url("/assets/fonts/" + $filename + "woff") format('woff');
  src: url("/assets/fonts/" + $filename + ".woff2") format('woff2');
  font-display: swap;
}


@font-face {
  font-family: "Noto Sans";
  @include font-srcs("NotoSans-Regular");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: bold;
  @include font-srcs("NotoSans-Bold");
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  @include font-srcs("NotoSans-Italic");
}

@font-face {
  font-family: Cardo;
  @include font-srcs("Cardo-Regular");
}
@font-face {
  font-family: Cardo;
  font-weight: bold;
  @include font-srcs("Cardo-Bold");
}
@font-face {
  font-family: Cardo;
  font-style: italic;
  @include font-srcs("Cardo-Italic");
}

@font-face {
  font-family: "Times New Roman Navajo";
  src: url(/assets/fonts/TimesNewRomanNavajo-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman Navajo";
  font-weight: bold;
  src: url(/assets/fonts/TimesNewRomanNavajo-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman Navajo";
  font-style: italic;
  src: url(/assets/fonts/TimesNewRomanNavajo-Italic.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman Navajo";
  font-weight: bold;
  font-style: italic;
  src: url(/assets/fonts/TimesNewRomanNavajo-BoldItalic.ttf);
  font-display: swap;
}