@font-face {
  font-family: Cardo;
  src: url(/fonts/Cardo-Regular.ttf);
}
@font-face {
  font-family: Cardo;
  font-weight: bold;
  src: url(/fonts/Cardo-Bold.ttf);
}
@font-face {
  font-family: Cardo;
  font-style: italic;
  src: url(/fonts/Cardo-Italic.ttf);
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  font-style: italic;
  src: url(/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/Lato-BoldItalic.ttf);
}