@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/NotoSans-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: bold;
  src: url(/assets/fonts/NotoSans-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  src: url(/assets/fonts/NotoSans-Italic.ttf);
  font-display: swap;
}

@font-face {
  font-family: Cardo;
  src: url(/assets/fonts/Cardo-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: Cardo;
  font-weight: bold;
  src: url(/assets/fonts/Cardo-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: Cardo;
  font-style: italic;
  src: url(/assets/fonts/Cardo-Italic.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Times New Roman Navajo";
  src: url(/assets/fonts/Timenrn_.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Verdana Navajo";
  src: url(/assets/fonts/VERDN___.ttf);
  font-display: swap;
}