@import "base";

%logo-bg {
  content: "";
  position: fixed;

  top: 0;
  bottom: 0;
  z-index: -1;
  width: $logo-size;

  background-image: url(/img/logo.png), url(/img/background.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  min-height: 100vh;
  overflow-y: scroll;

  background-color: $bg-color;
  font: $font-size $font-family-serif;
  color: $text-color;

  &::before {
    @extend %logo-bg;
    left: 0;
  }
  &::after {
    @extend %logo-bg;
    right: 0;
  }
}

body {
  @include body-box;
  position: relative;
  min-height: calc(100vh - #{$bar-height});
  margin: $bar-height auto 0;
  line-height: $line-height;
  background-color: $body-color;

  @include tablet-down {
    margin-top: 0; // bar moved down to bottom
  }
}

p {
  margin-block: 0;
}

h1 {
  margin: 0 auto 0;
  font-size: 3.1rem;
  text-align: center;
  //font-size: 3.5rem; // uncomment to make it fill the width
}

h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0 5px 0 0;
  font-size: 1.17rem;
}

h4 {
  margin: 0 5px 0 0;
  font-size: 1.17rem;
}

header {
  margin: 0.83em 0;

  p {
    margin: 0;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-active-color;
  }
}

button, .button {
  // XXX optional theming
  //background-color: transparent;
  background-color: $button-color;
  border: 1px solid grey;
  outline: none;

  @include hover-highlight;
}

dfn {
  font-style: normal;
}

audio:focus {
  outline: none;
}