@import "base";

%logo-bg {
  content: "";
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;

  background-image: url(/img/logo.png), url(/img/background.jpg);
  background-size: $logo-size auto, auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  min-height: 100vh;
  overflow-y: scroll;

  background-color: $bg-color;
  font: $font-size $font-family-serif;
  color: $text-color;

  &::before {
    @extend %logo-bg;
    background-position: center left;
  }
  &::after {
    @extend %logo-bg;
    background-position: center right;
  }
}

body {
  @include body-box;
  position: relative;
  min-height: calc(100vh - #{$footer-height});
  margin-bottom: $footer-height; // XXX can we make this happen automatically somehow? Flex sizing?
  line-height: $line-height;
  background-color: white;

  > footer {
    display: flex;
    position: fixed;
    align-items: center;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid grey;
    
    @media (max-width: $breakpoint) {
      padding: 0 $body-padding / 2;
    }
  }
}

p {
  margin-block: 0;
}

h1 {
  margin: 0 auto 0;
  font-size: 3.1rem;
  text-align: center;
  //font-size: 3.5rem; // uncomment to make it fill the width
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin: 0 5px 0 0;
}

header {
  margin: 0.83em 0;

  p {
    margin: 0;
  }

  &.site-header {
    margin: 0 0 1.333rem;
    p {
      text-align: center;
      //font-size: 1.13rem; // uncomment to make it fill the width
    }
  }

  &.subheader {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;

    h2 {
      margin: 0 1ch 0 0;
    }
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $link-hover-color;
  }
}

button, .button {
  // XXX optional theming
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 0 $search-border-radius $search-border-radius 0;
  outline: none;

  &:hover {
    background-color: $button-hover-color;
  }
  &:focus, &:active {
    background-color: $link-active-color;
  }
}

dfn {
  font-style: normal;
}

dd, dt {
  margin: 0;

  > * {
    margin: 0;

    & + * {
      margin-top: 1em;
    }
  }

  header {
    margin: 0 0 0.75em;

    .word-heading {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
    }

    p {
      margin-top: 0.3em;

      + p {
        margin-top: 0.5em;
      }
    }
  }

  p {
    line-height: $line-height-p;
    font-family: $font-family-sans;
    font-size: 0.75rem;
  }
}

audio:focus {
  outline: none;
}