@import "base";

.shortdef {
  font-style: italic;
}
.phonetic {
  font-weight: bold;
  font-size: 0.6rem; // XXX not sure if this is still right for the new font
  align-self: baseline;

  /*&:before {
    content: " ("
  }
  &:after {
    content: ")"
  }*/
}

.literal, .comment {
  font-size: 0.6rem;
  b {
    margin-right: 0.5ch;
  }
}

.sentence {
  font-style: italic;
}

// might want to move these footer bits to _components.scss
.footer-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 1 calc(50% - #{$body-width / 2} + #{$body-padding}); // the space left on one side of the search form
  height: 100%;
  color: inherit;

  @media (max-width: $breakpoint) {
    justify-content: space-around;
    order: 1;
  }
}

.footer-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  height: $footer-height;
  text-decoration: none;
  
  min-width: $footer-height; // to keep it square
  color: inherit;
  
  @media (max-width: $breakpoint) {
    > span {
      display: none;
    }
  }
}

// XXX this is also more of a component I think
.switch-direction {
  height: 20px;
  padding: 7px;
  border: 1px solid $text-color;
  border-radius: 5px;

  &:hover {
    border-color: $link-hover-color;
  }
  &:active {
    background: $link-active-color;
  }
}

.contact-tiles {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

// XXX also a component probably
.contact-tile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 0 0 1em;
  padding: 15px 25px 15px 20px;
  border: 2px solid black;
  border-radius: 5px;

  > .icon {
    height: 24px;

    + span {
      margin-left: 20px;
    }
  }
}