@import "base";

// icons

@mixin focused {
  &:hover, &:active, a:hover &, a:active & {
    @content;
  }
}

img.icon, .icon img {
  height: 1em;
  cursor: pointer;

  + span {
    margin-left: 0.5ch;
  }
  @include focused {
    opacity: 0.5;
  };
}
.icon {
  @include focused {
    img {
      opacity: 0.5;
    }
  }
}
summary .icon {
  position: absolute;
  top: $opener-offset;
  right: $opener-offset;
  width: $opener-size;
  font-size: $opener-size;
  line-height: 1;
  text-align: center;
}


// text classes

.shortdef {
  font-style: italic;
}
.phonetic {
  font-weight: bold;
  font-size: 0.6rem; // XXX not sure if this is still right for the new font
  align-self: baseline;

  /*&:before {
    content: " ("
  }
  &:after {
    content: ")"
  }*/
}

.literal, .comment {
  font-size: 0.6rem;
  b {
    margin-right: 0.5ch;
  }
}

.sentence {
  font-style: italic;
}

// footer classes

.footer-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 1 calc(50% - #{$body-width / 2} + #{$body-padding}); // the space left on one side of the search form
  height: 100%;
  color: inherit;

  @media (max-width: $breakpoint) {
    justify-content: space-around;
    order: 1;
  }
}

.footer-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  height: $footer-height;
  text-decoration: none;
  
  min-width: $footer-height; // to keep it square
  color: inherit;
  
  @media (max-width: $breakpoint) {
    > span {
      display: none;
    }
  }
}

// contact tile classes

.contact-tiles {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.contact-tile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 0 0 1em;
  padding: 15px 25px 15px 20px;
  border: 2px solid black;
  border-radius: 5px;

  > .icon {
    height: 24px;

    + span {
      margin-left: 20px;
    }
  }
}