@import "base";

.shortdef {
  font-style: italic;
}
.phonetic {
  font-weight: bold;
  font-size: 0.6rem; // XXX not sure if this is still right for the new font
  align-self: baseline;

  /*&:before {
    content: " ("
  }
  &:after {
    content: ")"
  }*/
}

.literal, .comment {
  font-size: 0.6rem;
  b {
    margin-right: 0.5ch;
  }
}

.sentence {
  font-style: italic;
}

.about-link {
  @include footer-link;
  left: 0;
  top: 0;
}

.contact-link {
  @include footer-link;
  right: 0;
  top: 0;
}

.switch-direction {
  height: 20px;
  padding: 7px;
  border: 1px solid $text-color;
  border-radius: 5px;

  &:hover {
    border-color: $link-hover-color;
  }
  &:active {
    background: $link-active-color;
  }
}

.contact-tiles {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.contact-tile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 0 0 1em;
  padding: 15px 25px 15px 20px;
  border: 2px solid black;
  border-radius: 5px;

  > .icon {
    height: 24px;

    + span {
      margin-left: 20px;
    }
  }
}