@import "base";

// main nav

nav.main-nav {
  display: flex;
  position: fixed;
  align-items: stretch;
  justify-content: space-evenly;
  box-sizing: border-box;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: $bar-height;
  padding: 0 $bar-padding-h;
  background-color: white;

  @include desktop {
    top: 0;
    border-bottom: 1px solid grey;
  }
  @include tablet-down {
    bottom: 0;
    border-top: 1px solid grey;
  }
}

.nav-link {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  text-decoration: none;

  padding: 0 $bar-padding-h;
  min-width: $bar-height; // to keep it square
  color: inherit;

  @include hover-highlight;

  @include tablet-down {
    > span {
      // hide it but leave it visible to screen readers
      max-width: 0 !important; // TODO wait, does having a max-width of 0 make screen-readers stop reading it? See _utilities.reader-only
      margin: 0 !important;
      overflow: hidden !important;
    }
  }
}