@import "base";

// "About" popup

#about-popup {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: $popup-width;
  margin: 0;
  padding: $popup-padding;
  text-decoration: none;

  // XXX optional theming
  $border-radius: $border-radius-md;
  border-radius: $border-radius;
  color: $body-color;
  background-color: $popup-color;
  text-align: center;

  @include desktop {
    top: 10px - $border-radius; // move so arrow is centered on icon
    left: -$popup-width - $popup-margin + $popup-tail-height;
  }
  @include tablet-down {
    bottom: $bar-height + $popup-margin;
    left: $bar-height / 2 - 50px; // realigned to keep consistent margin.
  }                               // not sure where the 50 is coming from though

  &::after { // the tail
    content: "";
    position: absolute;
    width: 0;
    height: 0;

    @include desktop {
      top: $border-radius; // minimum offset from corner
      right: -$popup-tail-height;
      border-top: $popup-tail-width/2 solid transparent;
      border-bottom: $popup-tail-width/2 solid transparent;
      border-left: $popup-tail-height solid $popup-color;
    }
    
    @include tablet-down {
      bottom: -$popup-tail-height;
      border-left: $popup-tail-width/2 solid transparent;
      border-right: $popup-tail-width/2 solid transparent;
      border-top: $popup-tail-height solid $popup-color;
      left: $popup-tail-offset; // move to positioned above icon. 
    }
  }

  &:hover {
    background-color: $popup-hover-color;
    
    &::after {
      @include desktop {
        border-left-color: $popup-hover-color;
      }
      @include tablet-down {
        border-top-color: $popup-hover-color;
      }
    }
  }

  &.visible {
    display: block;
  }
}