@font-face {
  font-family: Cardo;
  src: url(/fonts/Cardo-Regular.ttf);
}
@font-face {
  font-family: Cardo;
  font-weight: bold;
  src: url(/fonts/Cardo-Bold.ttf);
}
@font-face {
  font-family: Cardo;
  font-style: italic;
  src: url(/fonts/Cardo-Italic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  font-style: italic;
  src: url(/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: Cardo;
  src: url(/fonts/Cardo-Regular.ttf);
}
@font-face {
  font-family: Cardo;
  font-weight: bold;
  src: url(/fonts/Cardo-Bold.ttf);
}
@font-face {
  font-family: Cardo;
  font-style: italic;
  src: url(/fonts/Cardo-Italic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  font-style: italic;
  src: url(/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/Lato-BoldItalic.ttf);
}
html::before, html {
  background-image: url(/img/logo.png);
  background-size: calc(50% - 800px / 2) auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  min-height: 100vh;
  overflow-y: scroll;
  margin: 0 1%;
  background-color: chocolate;
  background-position: center left;
  font: 20px Cardo, "Times New Roman", serif;
  color: black;
}
html::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-position: center right;
}

body {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  padding: 1.333rem;
  position: relative;
  min-height: calc(100vh - 50px);
  margin-bottom: 50px;
  line-height: 1.2;
  background-color: white;
}
body > footer {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid grey;
}
body > footer > * {
  padding: 0 1.333rem;
}
@media (max-width: 1200px) {
  body > footer {
    display: flex;
    padding: 0 0.6665rem;
  }
  body > footer > * {
    padding: 0 0.6665rem;
  }
}

h1 {
  margin: 0 auto 0;
  font-size: 3.1rem;
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin: 0 5px 0 0;
}

header {
  margin: 0.83em 0;
}
header p {
  margin: 0;
}
header.site-header {
  margin: 0 0 1.333rem;
}
header.site-header p {
  text-align: center;
}
header.subheader {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
header.subheader h2 {
  margin: 0 1ch 0 0;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: #666;
}

button, .button {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  outline: none;
}
button:hover, .button:hover {
  background-color: #eee;
}
button:focus, button:active, .button:focus, .button:active {
  background-color: #d3d3d3;
}

dfn {
  font-style: normal;
}

dd:first-of-type {
  height: 100%;
}
dd > * {
  margin: 0;
}
dd > * + * {
  margin-top: 1em;
}
dd header {
  margin: 0 0 0.75em;
}
dd header .word-heading {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
dd header p {
  margin-top: 0.3em;
}
dd header p + p {
  margin-top: 0.5em;
}
dd p {
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  font-size: 0.75rem;
}

audio:focus {
  outline: none;
}

@font-face {
  font-family: Cardo;
  src: url(/fonts/Cardo-Regular.ttf);
}
@font-face {
  font-family: Cardo;
  font-weight: bold;
  src: url(/fonts/Cardo-Bold.ttf);
}
@font-face {
  font-family: Cardo;
  font-style: italic;
  src: url(/fonts/Cardo-Italic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  font-style: italic;
  src: url(/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/Lato-BoldItalic.ttf);
}
.shortdef {
  font-style: italic;
}

.phonetic {
  font-weight: bold;
  font-size: 0.6rem;
  align-self: baseline;
  /*&:before {
    content: " ("
  }
  &:after {
    content: ")"
  }*/
}

.literal, .comment {
  font-size: 0.6rem;
}
.literal b, .comment b {
  margin-right: 0.5ch;
}

.sentence {
  font-style: italic;
}

.about-link {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  height: 100%;
  color: inherit;
}
@media (max-width: 1200px) {
  .about-link {
    position: relative;
    height: 50px;
  }
  .about-link span {
    display: none;
  }
}

.contact-link {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;
  color: inherit;
}
@media (max-width: 1200px) {
  .contact-link {
    position: relative;
    height: 50px;
  }
  .contact-link span {
    display: none;
  }
}

.switch-direction {
  height: 20px;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
}
.switch-direction:hover {
  border-color: #666;
}
.switch-direction:active {
  background: #d3d3d3;
}

@font-face {
  font-family: Cardo;
  src: url(/fonts/Cardo-Regular.ttf);
}
@font-face {
  font-family: Cardo;
  font-weight: bold;
  src: url(/fonts/Cardo-Bold.ttf);
}
@font-face {
  font-family: Cardo;
  font-style: italic;
  src: url(/fonts/Cardo-Italic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  font-style: italic;
  src: url(/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/Lato-BoldItalic.ttf);
}
img.icon, .icon img {
  height: 1em;
  cursor: pointer;
}
img.icon + span, .icon img + span {
  margin-left: 0.5ch;
}
img.icon:hover, img.icon:active, a:hover img.icon, a:active img.icon, .icon img:hover, .icon img:active, a:hover .icon img, a:active .icon img {
  opacity: 0.5;
}

.icon:hover img, .icon:active img, a:hover .icon img, a:active .icon img {
  opacity: 0.5;
}

label.icon {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 24px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

dl.dictionary dd, dl.dictionary .dd-container, dl.dictionary dt {
  box-sizing: border-box;
  margin: 0;
}

dl.dictionary {
  margin-bottom: 0;
}
dl.dictionary > div {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  border: 1px solid black;
}
dl.dictionary > div ~ div {
  margin-top: -1px;
}
dl.dictionary > div:focus, dl.dictionary > div:focus-within {
  outline: 1px auto black;
}
dl.dictionary > div > div {
  display: flex;
  flex-flow: column wrap;
}
dl.dictionary dt {
  position: static;
  width: 100%;
  font-weight: bold;
}
dl.dictionary dt:focus {
  outline: none;
}
dl.dictionary dt label.text {
  display: block;
  position: static;
  padding: 7px 38px 7px 10px;
  cursor: pointer;
}
dl.dictionary dt label.text:hover {
  background-color: #eee;
}
dl.dictionary dd, dl.dictionary .dd-container {
  overflow: hidden;
  flex-basis: 50%;
  height: 0;
  padding: 0;
  border-top: 0;
}
dl.dictionary .dd-container dd {
  flex-basis: 100%;
}
dl.dictionary .dd-container dd + dd {
  margin-top: 1em;
}
dl.dictionary input.shower {
  display: none;
}
dl.dictionary input.shower ~ .icon .closed {
  display: block;
}
dl.dictionary input.shower ~ .icon .open {
  display: none;
}
dl.dictionary input.shower:checked ~ .icon .closed {
  display: none;
}
dl.dictionary input.shower:checked ~ .icon .open {
  display: block;
}
dl.dictionary input.shower:checked ~ dd, dl.dictionary input.shower:checked ~ .dd-container {
  height: auto;
  padding: 0.75em 0.75em 0.75em 20px;
  border-top: 1px solid #d3d3d3;
}

#about-popup {
  display: none;
  position: absolute;
  box-sizing: border-box;
  bottom: 50px;
  width: 220px;
  margin: 20px;
  padding: 0 0.6665rem;
  border-radius: 3px;
  background-color: black;
  text-align: center;
}
@media (max-width: 1200px) {
  #about-popup {
    margin: 10px -4px;
  }
}
#about-popup::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -15px;
  left: 50px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid black;
}
@media (max-width: 1200px) {
  #about-popup::after {
    left: 8px;
  }
}
#about-popup:hover {
  background-color: #333;
}
#about-popup:hover::after {
  border-top-color: #333;
}
#about-popup a {
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
}
#about-popup.visible {
  display: block;
}

form.search {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  padding: 1.333rem;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 1200px) {
  form.search {
    margin: 0;
    padding: 10px 0.6665rem;
    flex-grow: 1;
    max-width: 100%;
  }
}
form.search label[for=search] {
  display: none;
}
form.search input[type=search] {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
form.search input[type=search]:focus {
  border-color: black;
}
form.search button[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
form.search button[type=submit] .icon {
  height: 0.8rem;
  margin-right: 0;
  padding: 6px;
}

.pronunciation {
  display: flex;
  align-items: normal;
  align-self: center;
  box-sizing: border-box;
  cursor: pointer;
  height: 1.2rem;
  padding: 1px 6px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.75rem;
  font-family: Verdana, sans-serif;
}
.pronunciation span {
  margin-right: 5px;
}
.pronunciation img {
  width: 16px;
}
.pronunciation + input {
  display: none;
}
.pronunciation + input + audio {
  display: none;
  margin-top: 4px;
}
.pronunciation + input:checked + audio {
  display: block;
}
.pronunciation:hover {
  color: #666;
}
.pronunciation:hover img {
  opacity: 50%;
}

.about {
  font-family: Verdana, sans-serif;
  font-size: 0.75rem;
}
.about h2, .about h3 {
  font-family: Cardo, "Times New Roman", serif;
  margin-top: 1.5em;
}
.about .dine {
  font-style: italic;
}
.about hr {
  margin: 2rem 0;
}

.alphabet ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.alphabet li {
  display: block;
  margin: 1px;
  padding: 0;
}
.alphabet a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
.alphabet a[href] {
  border: 1px solid black;
}
.alphabet a[href]:hover {
  background-color: #eee;
}
.alphabet a:not([href]) {
  color: #888;
}

/*# sourceMappingURL=style.css.map */
