@import "base";
@import "elements.fonts";

%logo-bg {
  content: "";
  position: fixed;

  top: 0;
  bottom: 0;
  z-index: -1;
  width: $logo-size;

  background-image: url(/assets/img/logo.png), url(/assets/img/background.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  &::before {
    @extend %logo-bg;
    left: 0;
  }
  &::after {
    @extend %logo-bg;
    right: 0;
  }
}
