footer.page-footer
	p(xmlns:cc="https://creativecommons.org/ns#" xmlns:dct="https://purl.org/dc/terms/") 
		a(property="dct:title" rel="cc:attributionURL" href="https://enablenavajo.org/dine/") Project ENABLE (Enriching Navajo as a Biology Language for Education)
		|  content, teaching materials, audio, and illustrations &copy; 2022 by 
		a(rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://enablenavajo.org/contact/") Sterling Martin, Joanna Bundus, Susana Wadgymar, and Frank Morgan 
		| is licensed under 
		a.cc-link(href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer") CC BY 4.0
			img(src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="")
			img(src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="")
	p This license allows you to distribute, remix, adapt, and build upon our materials in any medium or format, so long as attribution is given to us. The license allows for commercial use.