footer
    a.about-link(href="/about")
        img.icon(src="/img/question-circle.svg" role="presentation")
        span About This Site
    aside(id="about-popup")
        a(href="/about") New to this site? Click here for an explanation!
    a.contact-link(href="/contact")
        img.icon(src="/img/envelope.svg" role="presentation")
        span Contact Us
    form.search(method="get")
        label(for="search") Search...
        input(type="search" id="search" name="search" placeholder="Search...")
        button(type="submit")
            img.icon(src="/img/search.svg" alt="Search")
