doctype html
html(lang="en")
	head
		block title
			title Project ENABLE | The Diné-English Biology Dictionary
		include ../templates/head
	body
		block header
			include ../templates/header
		nav.main-nav
			block nav
				include ../templates/nav
		block content