doctype html
html(lang="en")
	head
		block title
			title Project ENABLE | The Diné-English Biology Dictionary
		include ../templates/head
	body
		include ../templates/header
		block content
		include ../templates/footer.pug