a.nav-link(href="/" + (language || ""))
	img.icon(src="/img/home.svg" alt="")
	span Home
a.nav-link(href="/about")
	img.icon(src="/img/question-circle.svg" alt="")
	span About
	aside(id="about-popup") New to this site? Click here for an explanation!
a.nav-link(href="/news")
	img.icon(src="/img/newspaper-solid.svg" alt="")
	span News
a.nav-link(href="/contact")
	img.icon(src="/img/envelope.svg" alt="")
	span Contact