a.nav-link(href="/" + (language || ""))
	img.icon(src="/assets/img/home.svg" alt="")
	span Home
a.nav-link(href="/about")
	img.icon(src="/assets/img/question-circle.svg" alt="")
	span About
	aside(id="about-popup") New to this site? Click here for an explanation!
a.nav-link(href="/fonts")
	img.icon(src="/assets/img/font.svg" alt="")
	span Fonts
a.nav-link(href="/news")
	img.icon(src="/assets/img/newspaper-solid.svg" alt="")
	span News
a.nav-link(href="/contact")
	img.icon(src="/assets/img/envelope.svg" alt="")
	span Contact