a.footer-link(href="/" + (language || ""))
	img.icon(src="/img/home.svg" role="presentation")
	span Home
a.footer-link(href="/about")
	img.icon(src="/img/question-circle.svg" role="presentation")
	span About
	aside(id="about-popup") New to this site? Click here for an explanation!
a.footer-link(href="/news")
	img.icon(src="/img/newspaper.svg" role="presentation")
	span News
a.footer-link(href="/contact")
	img.icon(src="/img/envelope.svg" role="presentation")
	span Contact