- const sortedWords = Object.entries(entries[language] || {}); // don't need to manually sort I think
- const keys = JSON.stringify(sortedWords.map(([key]) => key));
script.
	const language = "!{language}"
	const searchTerms = !{keys}; // used in search script
script(defer, src="../js/search.js")
