form.search(role=search, method="get")
    fieldset
        legend.reader-only Search
        input(type="search" id="search" name="search" placeholder="Search...")
        button(type="submit")
            img.icon(src="/assets/img/search.svg" alt="Search")