extends ../templates/layout.pug
include ../mixins/tile
include ../mixins/alphabet
	
block title
	title Project ENABLE | The English-Diné Biology Dictionary

block language
	- const language = "english";
	include ../templates/scripts
block header
	include ../templates/header
append nav
	include ../templates/search
		
block content
	header.subheader
		h2 English to Diné Dictionary
		a.icon.switch-direction(href="/dine")
			img(src="/img/exchange-alt.svg" alt="Switch to Diné-English")
	+alphabet(sortedWords)
	each entry, index in sortedWords
		+tile(index, entry, "en", "nv")
